:root {
    --terminal-color: #63dd58;
    --terminal-bg-color: #071405;
}

@font-face {
    font-family: Tamzen;
    src: url("./assets/fonts/Tamzen.ttf");
    font-weight: 100;
}

@font-face {
    font-family: Spleen;
    src: url("./assets/fonts/Spleen.otf");
    font-weight: 100;
}

@font-face {
    font-family: Terminus;
    src: url("./assets/fonts/Terminus.otf");
    font-weight: 100;
}

@font-face {
    font-family: Unifont;
    src: url("./assets/fonts/Unifont.otf");
    font-weight: 100;
}

body {
    overflow: hidden;
    font-family: Terminus, monospace;
    font-size: 12pt;
    color: var(--terminal-color);
    user-select: none;

    margin: 0;

    animation: animation-boot 2s ease-out forwards;
}

@keyframes animation-boot {
    from {
        background-color: #000;
    } to {
        background-color: var(--terminal-bg-color);
    }
}

button, input, select {
    font-family: "VecTerminus16", monospace;
    font-size: 12pt;
}

.tz-sh-screen {
    width: 100%;
    height: 100vh;
    position: absolute;

    pointer-events: none;
}

.tz-sh-screen-scanline {
    background-image: url("./assets/images/scanline.svg");
    mix-blend-mode: color-dodge;

    animation: anim-screen-fx 10s linear infinite;
}

.tz-sh-screen-circle-light {
    background-image: url("./assets/images/circle-light.svg");
    background-size: cover;
    background-position: center;
    mix-blend-mode: multiply;
}

@keyframes anim-screen-fx {
    from {
        background-position-y: 1300px;
    } to {
        background-position-y: 0;
    }
}

.tz-sh-window {
    border: 1px solid var(--terminal-color);
    color: var(--terminal-color);
    position: absolute;

    width: 640px;
    height: 360px;
    
    display: flex;
    flex-direction: column;
}

.tz-sh-input {
    position: absolute;
    top: 32px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border: 1px solid var(--terminal-color);
    outline: none;
    width: 250px;
    background-color: var(--terminal-bg-color);
    color: var(--terminal-color);
    padding: 4px;

    resize: both;
    overflow: auto;
}

.tz-sh-terminal {
    height: 100%;
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
}

.tz-sh-terminal-header {
    opacity: 0;
    display: flex;
    background-color: var(--terminal-bg-color);
    padding: 2px 8px 0 8px; gap: 4;
    border-bottom: 1px solid var(--terminal-color);

    min-height: 19.33px;
}

.tz-sh-view {
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: var(--terminal-bg-color);
    overflow: hidden;
}

::-webkit-scrollbar {
    background-color: transparent;
    border-left: 1px solid var(--terminal-color);
    
    width: 12pt;
}

::-webkit-scrollbar-button {
    color: var(--terminal-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--terminal-color);
    color: black;
}

::-webkit-scrollbar-button {
    display: none;
}

::selection {
    background-color: var(--terminal-color);
    color: #000;
}